.right{
    position: relative;
    float: right;
    width: 80%;
    padding: 64px 40px;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}
.right h3{
    text-align: left;
    font-size: 32px;
}
.top{
    width: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
.top h1{
    font-size: 44px;
    color: #C89A69;
}
.top p{
    width: 85%;
    margin: 0;
    text-align: right;
    font-size: 20px;
    justify-self: flex-end;
}

.row{
    margin-bottom: 32px;
}
.card{
    border-radius: 16px;
    font-family: 'Montserrat', sans-serif;  
    margin: 16px 24px;
    background-color: #f8f8f8;
    box-shadow: 0px 4px 16px 4px rgba(128, 128, 128, 0.219);  
}
.card .date{
    background-color: #EEDDCA;
    font-size: 24px;
}
.card .body{
    padding-right: 12px;
    padding-left: 12px;
    font-size: 24px;
}
.card p{
    color: #C89A69;
}

.one{
    margin-top: 32px;
    text-align: left;
    background-color: #f8f8f8;
    box-shadow: 0px 4px 16px 4px rgba(128, 128, 128, 0.253);
    border-radius: 16px;
    padding: 32px 44px;
    font-family: 'Montserrat', sans-serif;
}

.two{
    display: flex;
    flex-direction: row;
}
.l{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.l div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.l h3{
    font-size: 24px;
    font-weight: 600;
    margin-right: 16px;
}
.l p{
    margin-left: 16px !important;
    font-size: 24px;
}
.r{
    margin-left: 400px;
}