@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.landing-img{
    height: 100vh;
    width: 100%;
    background-image: url('../media/landing_pix.png');
    background-repeat:no-repeat;
    background-size: cover;
}

.landing-main{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    width: 100%;
    height: 90vh;
}

.landing-content{
    position: absolute;
    margin-left: 100px;
    font-family: 'Montserrat', sans-serif;
}

.landing-content h1{
    text-align: left;
    left: 0;
    margin-left: 0px;
    font-size: 56px;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
}

.p-info{
    margin-top: 30px;
}

.landing-main p{
    text-align: left;
    font-size: 24px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.getstarted{
    position: absolute;
    margin-left: 0;
    margin-top: 30px;
}

.getstarted-btn{
    background-color: #C89A69;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: left;
}